/* .skin-black .main-header .logo {

    background-color: #1a1a27;
    color: white;

}

.skin-black .wrapper,
.skin-black .main-sidebar,
.skin-black .left-side {

    background-color:

        #222d32;

} */
