/* .skin-black .main-header .logo {

    background-color: #1a1a27;
    color: white;

}

.skin-black .wrapper,
.skin-black .main-sidebar,
.skin-black .left-side {

    background-color:

        #222d32;

} */
.skin-black .content-header {

    background:

        #fff;
    box-shadow: 0px 10px 30px 0px rgba(34, 26, 44, 0.08);

}

.content-header {

    position: relative;
    padding: 15px 15px 15px 15px;

}

.box {
    box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);

    background-color:
        #ffffff;

}

.box-header {
    border-bottom: 1px solid #ebedf2;


    border-top-left-radius: 4px;

    border-top-right-radius: 4px;

}

.checkbox,
.radio {
    padding: 3px;
    display: table-cell !important;

}
